@media only screen and (max-width: 375px) {
    .section-comp-title{
        font-size: 2rem !important;
    }
}

.instaBtn{
    background-color: rgb(213, 23, 143) !important;
    color: white !important;
}